<div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" fxFill>
  <div fxLayout="column wrap" class="standard-width" fxLayoutAlign="center center" [fxShow]="true">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <h3 class="blue-color">
        Successfully</h3>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <p style="margin-top: 0;">
      </p>
      <p class="m-t-0">You will receive an activation email on <b>mathotolebogang@gmail</b></p>
      <p></p>
    </div>
  </div>
</div>