<div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column " class="full-view-height" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" style="height:60px;" class="blue-bg" fxLayoutAlign="start stretch" [fxShow]="true">
      <h3 class="text-center white">
        Transact</h3>
    </div>
    <div fxLayout="column " style="overflow-y:scroll;" fxLayoutGap="1.5em" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" style="margin-top:20px;" class="transact-height" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true" routerLink="/pay-beneficiary">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">group</mat-icon>
              <p>
                Pay beneficiary</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">monetization_on</mat-icon>
              <p>
                PayShap</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">receipt</mat-icon>
              <p>
                Pay bills</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">attach_money</mat-icon>
              <p>
                International payments</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true" routerLink="/buy-prepaid-mobile">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">phone_iphone</mat-icon>
              <p>
                Buy prepaid mobile</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true" routerLink="/buy-electricity/pay-ben-electric">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">power</mat-icon>
              <p>
                Pay electricity</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">keyboard</mat-icon>
              <p>
                Play Lotto</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">redeem</mat-icon>
              <p>
                Buy vouchers</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">directions_car</mat-icon>
              <p>
                Renew license disc</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true" routerLink="/transfer-money">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">send</mat-icon>
              <p>
                Transfer money</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">sync</mat-icon>
              <p>
                Recurring/future-dated</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true" routerLink="/send-cash">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">send</mat-icon>
              <p>
                Send cash</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">compare</mat-icon>
              <p>
                Scan to pay</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">person</mat-icon>
              <p>
                Pay me</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">shopping_cart</mat-icon>
              <p>
                Capitec Pay</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">list</mat-icon>
              <p>
                Debit orders</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-left" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"><mat-icon class="blue-color">description</mat-icon>
              <p>
                SARS eFiling</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
      </div>
    </div>
  </div>
</div>