<div fxLayout="column wrap" style="background:#f6f4f5;" class="home" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-toolbar style="background:#0092db !important;    justify-content: space-between; "><mat-icon style="color:white">account_circle</mat-icon>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/image/globalone.png" style="    width: 40%;"></div>
    </mat-toolbar>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" style="    margin-top: 1em;" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
        <div fxLayout="row wrap" style="height:85px;  width:95% ;background: white;     border-radius: 7px;" class="over-flow-hidden" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/image/savings-account.png" style="    height: 85px;"></div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <p class="text-color-blue">
                Savings Account</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon style="    font-size: 28px;" class="text-color-blue">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="height:85px;  width:95% ;background: white;     border-radius: 7px;" class="over-flow-hidden" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
            <div fxLayout="column wrap" class="full-height" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/image/saving.png" style="height:85px"></div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <p style="color: #00486d;">
                Savings</p>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon style="font-size: 28px;" class="text-color-blue">chevron_right</mat-icon></div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <p style="    margin-left: 17px;margin-bottom: -0.2em;">
          <b>Live Better</b>
        </p>
        <div fxLayout="column wrap" style="    margin-top: 1em;" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
          <div fxLayout="row wrap" style="height:85px;  width:95% ;background: white;     border-radius: 7px;" class="over-flow-hidden" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true">
              <div fxLayout="column wrap" class="full-height" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/image/lb-logo_lowres-cropped-resized.svg" style="    height: 71px;"></div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p style="color: #1d26d5">
                  Live better </p>
              </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon style="font-size: 28px;" class="text-color-blue">chevron_right</mat-icon></div>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" style="    margin-left: 17px; width:90%" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <p>
              Favourites</p>
          </div>
          <div fxLayout="row wrap" class="text-color-blue" fxLayoutAlign="end center" [fxShow]="true">
            <p>
              Edit</p>
            <div fxLayout="column wrap" style="    width: 8px;" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon style="font-size: 28px;" class="text-color-blue">chevron_right</mat-icon></div>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" style="    background: red;     height: 372px;" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"></div>
        <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"></div>
        <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="center center" [fxShow]="true"></div>
      </div>
    </div><bh-footer_home style="position: fixed;     bottom: 0;     left: 0;     right: 0; background: white;"></bh-footer_home>
  </div>
</div>