/*Importing default angular material css theme. */

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$blue: #0f9ddf;
$white: #ffffff;
$ghostwhite: #f5f5f5;
$blackish : #2d2d2d; 
$navy-blue: #00486d;

body{
    margin: 0 ;
    background-color: #f5f5f5;
    color:#2d2d2d;
    font-family: "Roboto", sans-serif;
}

// Sizes
.full-height {
    height: 100%;
}
.full-view-height {
    height: 100vh;
}
.full-width {
    width: 100%;
}

.standard-width {
    width: 100%;
    min-width: 300px;
    max-width: 600px
}


//Colors
.blue-color {
    color: $blue !important;
}

.blue-bg {
    background-color: $blue !important;
}

.white {
    color: $white !important;
}

.navy {
    color: $navy-blue !important;
}

.white-bg {
    background-color: $white;
}


//Margins
.no-margin {
    margin: 0;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-b-8 {
    margin-bottom: 8px;
}

.m-t-0 {
    margin-top: 0;
}

//Positions
.text-center {
    text-align: center;
}

.relative {
    position: relative;
}


//Paddings
.padding-6 {
    padding: 6px;
}

.padding-10 {
    padding: 10px;
}

.padding-left {
    padding-left: 10px;
}

.p-right-10 {
    padding-right: 10px;
}

//Material Changes
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon{
    color: $blue;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent;
}

.mat-raised-button {
    height: 45px !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 .75em 0 .75em;
    margin-top: 0; 
    position: relative;
    border: 2px solid lightgrey;
    background-color: $white;
    border-top: none;
}

.mat-mdc-button:not(:disabled) {
    color: $blue !important;
}

.mat-mdc-form-field-subscript-wrapper {
    height: 0 !important;
}

.mat-vertical-content {
    padding: 0 0px 0px 24px !important;
}

.mat-step-header .mat-step-icon-selected{
    color: transparent !important;
}

.mat-step-header {
    padding-bottom: 0;
}

.mat-step-icon {
    color: transparent !important;
    background-color: #00486d !important;
}

.mat-step-icon .mat-step-icon-state-number .mat-step-icon-selected{
    background-color: #00486d !important;
}

.mat-stepper-vertical-line::before {
    border-color: #00486d !important;
    border-left-width: 2px !important;
}

.mat-mdc-radio-button .mdc-form-field {
    color: $blue !important;
}

.mat-form-field-underline {
    width: 0% !important;
    transform: none !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent !important;
}
.mat-form-field-underline {
   width: 0% !important;
    transform: none !important;
}

.mat-horizontal-content-container {
    padding: 0 !important;
}