<div fxLayout="column wrap" class="full-height" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" class="full-height standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="height-60px blue-bg" fxLayoutAlign="center center" [fxShow]="true">
      <p class="no-margin font-size-larger white">
        Unable to Capture Selfie</p>
    </div>
    <div fxLayout="column wrap" class="half-height white-bg" fxLayoutAlign="start center" [fxShow]="true"><img imgSrc="./Web/Images/unable_to_capture.PNG" style="width: 30%; height: 55%">
      <h3>
        We are having difficulty verifying your identity</h3>
      <div>
        Tap Try Again to retake your selfie.</div>
      <div class="width-95">
        <hr>
      </div>
      <div fxLayout="row wrap" class="width-95" fxLayoutAlign="space-between stretch" [fxShow]="true">
        <div>
          Scanning Tips</div><mat-icon class="blue-color">infor</mat-icon>
      </div>
    </div>
    <div fxLayout="column wrap" class="margin-top-1em full-width" fxLayoutGap="0.5em" fxLayoutAlign="start center" [fxShow]="true"><button mat-raised-button routerLink="/take-selfie" class="width-95 blue-bg white">Try Again</button><button mat-raised-button class="blue-color border-blue width-95">Cancel</button></div>
  </div>
</div>