<div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true" fxFill>
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" style="height:60px;" class="blue-bg" fxLayoutAlign="start stretch" [fxShow]="true">
      <h3 class="text-center white">
        Explore</h3>
    </div><mat-tab-group mat-align-tabs="start" mat-stretch-tabs><mat-tab label="GlobalOne">
        <div fxLayout="row wrap" style="margin:8px;border-radius:5px; border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutGap=".5em" fxLayoutAlign="start center" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/transact-blue.PNG"></div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <h3 class="m-b-0 blue-color">
                  Savings Account</h3>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p class="m-t-0">
                  <small>Transactional saving account</small>
                </p>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="margin:8px;border-radius:5px; border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutGap=".5em" fxLayoutAlign="start center" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/save-blue.PNG"></div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <h3 style="color:#00486e;" class="m-b-0">
                  Save</h3>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p class="m-t-0">
                  <small>Flexible, Fixed-Term &amp; Tax-Free Savings</small>
                </p>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="margin:8px;border-radius:5px; border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="row wrap" fxLayoutGap=".5em" fxLayoutAlign="start center" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/insure-blue.PNG"></div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <h3 style="color:grey" class="m-b-0">
                  Insure</h3>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p class="m-t-0">
                  <small>Cover for you and your family</small>
                </p>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
        <div fxLayout="row wrap" style="margin:8px;border-radius:5px; border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true" routerLink="/credit">
          <div fxLayout="row wrap" fxLayoutGap=".5em" fxLayoutAlign="start center" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/credit-blue.PNG"></div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <h3 style="color:red;" class="m-b-0">
                  Credit</h3>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p class="m-t-0">
                  <small>Credit Card, Facility &amp; Loan</small>
                </p>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="blue-color">chevron_right</mat-icon></div>
        </div>
      </mat-tab><mat-tab label="Capitec Connect">
        <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="/Web/Images/coming-soon.png"></div>
      </mat-tab><mat-tab label="Live Better"></mat-tab></mat-tab-group>
  </div>
</div>